@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

  @keyframes bounce-slow {
    0%, 100% {
      transform: translateY(0); /* Start and end at the same position */
    }
    50% {
      transform: translateY(-10px); /* Move up slightly */
    }
  }
  
  .animate-bounce-slow {
    animation: bounce-slow 3s infinite; /* Smooth up-and-down animation */
  }